In [73]:
#Primero importamos las librerías que vamos a usar
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

from sklearn.preprocessing import LabelEncoder,MinMaxScaler,OneHotEncoder,OrdinalEncoder

import folium
import plotly.express as px

In [74]:
#Después importamos los datos del archivo CSV que tenemos
df_bmw = pd.read_csv("/Users/fernandopradagorge/Documents/Universidad/Master Data Science and AI/Nuclio Projects/Entregables/Entregable_1_15ENE24/bmw_pricing_v3.csv")

In [46]:
df_bmw.head()

,marca,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
0,NaN,118,140411.0,100.0,2012-02-01,diesel,black,NaN,True,True,False,NaN,True,NaN,True,NaN,11300.0,2018-01-01
1,BMW,M4,13929.0,317.0,NaN,petrol,grey,convertible,True,True,False,NaN,False,True,True,True,69700.0,2018-02-01
2,BMW,320,183297.0,120.0,2012-04-01,diesel,white,NaN,False,False,False,NaN,True,False,True,False,10200.0,2018-02-01
3,BMW,420,128035.0,135.0,NaN,diesel,red,convertible,True,True,False,NaN,True,True,True,NaN,25100.0,2018-02-01
4,BMW,425,97097.0,160.0,NaN,diesel,silver,NaN,True,True,False,False,False,True,True,True,33400.0,2018-04-01

In [47]:
#Una vez comprobado que el DataFrame carga bien, vamos a ver la estructura que tienen los datos.
df_bmw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   marca                        3873 non-null   object
 1   modelo                       4840 non-null   object
 2   km                           4841 non-null   float64
 3   potencia                     4842 non-null   float64
 4   fecha_registro               2420 non-null   object
 5   tipo_gasolina                4838 non-null   object
 6   color                        4398 non-null   object
 7   tipo_coche                   3383 non-null   object
 8   volante_regulable            4839 non-null   object
 9   aire_acondicionado           4357 non-null   object
 10  camara_trasera               4841 non-null   object
 11  asientos_traseros_plegables  1452 non-null   object
 12  elevalunas_electrico         4841 non-null   object
 13  bluetooth                    4115 non-null   object
 14  gps                          4843 non-null   bool
 15  alerta_lim_velocidad         4115 non-null   object
 16  precio                       4837 non-null   float64
 17  fecha_venta                  4842 non-null   object
dtypes: bool(1), float64(3), object(14)
memory usage: 648.1+ KB

In [77]:
#Cambiamos las columnas fecha_registro y fecha_venta a formato datetime
for i in ["fecha_registro","fecha_venta"]:
    df_bmw[i]=pd.to_datetime(df_bmw[i])

df_bmw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   marca                        3873 non-null   object
 1   modelo                       4840 non-null   object
 2   km                           4841 non-null   float64
 3   potencia                     4842 non-null   float64
 4   fecha_registro               2420 non-null   datetime64[ns]
 5   tipo_gasolina                4838 non-null   object
 6   color                        4398 non-null   object
 7   tipo_coche                   3383 non-null   object
 8   volante_regulable            4839 non-null   object
 9   aire_acondicionado           4357 non-null   object
 10  camara_trasera               4841 non-null   object
 11  asientos_traseros_plegables  1452 non-null   object
 12  elevalunas_electrico         4841 non-null   object
 13  bluetooth                    4115 non-null   object
 14  gps                          4843 non-null   bool
 15  alerta_lim_velocidad         4115 non-null   object
 16  precio                       4837 non-null   float64
 17  fecha_venta                  4842 non-null   datetime64[ns]
dtypes: bool(1), datetime64[ns](2), float64(3), object(12)
memory usage: 648.1+ KB

In [78]:
#Para una mejor lectura y comprensión de los datos, dividiremos la columna fecha_venta en 3 nuevas según el día, el mes y  el año de venta.
for col in ["fecha_venta"]:
    df_bmw[col + "_MES"] = df_bmw[col].dt.month
    df_bmw[col + "_AÑO"] = df_bmw[col].dt.year

df_bmw.head()

,marca,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta,fecha_venta_MES,fecha_venta_AÑO
0,NaN,118,140411.0,100.0,2012-02-01,diesel,black,NaN,True,True,False,NaN,True,NaN,True,NaN,11300.0,2018-01-01,1.0,2018.0
1,BMW,M4,13929.0,317.0,NaT,petrol,grey,convertible,True,True,False,NaN,False,True,True,True,69700.0,2018-02-01,2.0,2018.0
2,BMW,320,183297.0,120.0,2012-04-01,diesel,white,NaN,False,False,False,NaN,True,False,True,False,10200.0,2018-02-01,2.0,2018.0
3,BMW,420,128035.0,135.0,NaT,diesel,red,convertible,True,True,False,NaN,True,True,True,NaN,25100.0,2018-02-01,2.0,2018.0
4,BMW,425,97097.0,160.0,NaT,diesel,silver,NaN,True,True,False,False,False,True,True,True,33400.0,2018-04-01,4.0,2018.0

In [92]:
#Ahora procederemos a quitar las columnas de marca, modelo (por ser irrelevantes para el estudio) y fecha venta por ser repetida:
df_bmw.drop(["modelo", "marca", "fecha_venta"], axis=1, inplace=True)

,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta_MES,fecha_venta_AÑO
0,140411.0,100.0,2012-02-01,diesel,black,NaN,True,True,False,NaN,True,NaN,True,NaN,11300.0,1.0,2018.0
1,13929.0,317.0,NaT,petrol,grey,convertible,True,True,False,NaN,False,True,True,True,69700.0,2.0,2018.0
2,183297.0,120.0,2012-04-01,diesel,white,NaN,False,False,False,NaN,True,False,True,False,10200.0,2.0,2018.0
3,128035.0,135.0,NaT,diesel,red,convertible,True,True,False,NaN,True,True,True,NaN,25100.0,2.0,2018.0
4,97097.0,160.0,NaT,diesel,silver,NaN,True,True,False,False,False,True,True,True,33400.0,4.0,2018.0

In [49]:
#Vamos a buscar los nulos y a quitarlos de enmedio
df_bmw.isnull().sum()

marca                           970
modelo                            3
km                                2
potencia                          1
fecha_registro                 2423
tipo_gasolina                     5
color                           445
tipo_coche                     1460
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3391
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

In [50]:
#Y también eliminamos duplicados
df_bmw[df_bmw.duplicated(keep=False)]

Empty DataFrame
Columns: [marca, modelo, km, potencia, fecha_registro, tipo_gasolina, color, tipo_coche, volante_regulable, aire_acondicionado, camara_trasera, asientos_traseros_plegables, elevalunas_electrico, bluetooth, gps, alerta_lim_velocidad, precio, fecha_venta]
Index: []

In [51]:
df_bmw.drop_duplicates(inplace=True)

In [52]:
df_bmw[df_bmw["marca"].isnull()]

,marca,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
0,NaN,118,140411.0,100.0,2012-02-01,diesel,black,NaN,True,True,False,NaN,True,NaN,True,NaN,11300.0,2018-01-01
8,NaN,Z4,123886.0,125.0,NaN,petrol,black,convertible,True,False,False,False,False,NaN,True,False,6200.0,2018-03-01
11,NaN,325,228000.0,145.0,NaN,diesel,black,NaN,True,True,False,False,True,False,True,NaN,13300.0,2018-03-01
18,NaN,325,205474.0,145.0,2009-05-01,diesel,NaN,NaN,True,True,False,NaN,True,NaN,True,NaN,11000.0,2018-04-01
21,NaN,218,24868.0,100.0,NaN,petrol,grey,convertible,False,True,False,NaN,False,NaN,True,True,31000.0,2018-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4804,NaN,220 Active Tourer,153358.0,140.0,2015-06-01,diesel,grey,van,False,NaN,False,NaN,False,False,True,True,11700.0,2018-02-01
4807,NaN,218 Active Tourer,197276.0,112.0,NaN,diesel,white,van,True,True,False,NaN,False,NaN,True,True,13100.0,2018-02-01
4825,NaN,225 Active Tourer,33300.0,170.0,NaN,petrol,NaN,van,True,True,False,NaN,False,False,False,True,19200.0,2018-05-01
4834,NaN,218 Gran Tourer,47782.0,110.0,NaN,diesel,blue,NaN,False,NaN,False,NaN,False,False,True,True,14900.0,2018-07-01
4836,NaN,218 Active Tourer,81230.0,100.0,2015-07-01,diesel,black,van,False,True,False,NaN,False,False,True,False,14200.0,2018-07-01

In [53]:
for i in df_bmw:
         df_bmw[i].isnull
         df_bmw[i].fillna("Otros", inplace=True)
#Con este bucle for eliminamos los elementos nulos de las columnas que vaya encontrando el programa.

/var/folders/fg/y114z21j2zn039z19n0n8cdh0000gn/T/ipykernel_743/2251588063.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Otros' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_bmw[i].fillna("Otros", inplace=True)

In [54]:
#Ahora tenemos que buscar las variables únicas para poder trabajar con ellas, para ello vamos a hacer un análisis univariable
for i in df_bmw.columns:
    print("\n", df_bmw[i].unique(), "\n")

 ['Otros' 'BMW']


 ['118' 'M4' '320' '420' '425' '335' '325' 'Z4' '120' '220' '650' '135'
 '218' '318' '430' 'M3' '330' '225' 'M235' '316' '435' '640'
 '640 Gran Coupé' '435 Gran Coupé' 'i8' '630' '430 Gran Coupé' '635' '520'
 'Otros' '525' '530' '535' '320 Gran Turismo' '518' '116' '328' '523' 'X3'
 'M550' '528' '325 Gran Turismo' '125' '318 Gran Turismo' '420 Gran Coupé'
 'i3' '114' '520 Gran Turismo' '530 Gran Turismo' 'M135' '418 Gran Coupé'
 '330 Gran Turismo' '335 Gran Turismo' '730' '123' '535 Gran Turismo'
 '740' '750' 'ActiveHybrid 5' '735' 'M5' 'X5' 'X1' 'X4' 'X6' 'X6 M' 'X5 M'
 'X5 M50' '218 Active Tourer' '218 Gran Tourer' '216' '220 Active Tourer'
 '216 Gran Tourer' '216 Active Tourer' ' Active Tourer'
 '225 Active Tourer' '214 Gran Tourer']


 [140411.0 13929.0 183297.0 ... 19633.0 27920.0 195840.0]


 [100.0 317.0 120.0 135.0 160.0 225.0 145.0 105.0 125.0 130.0 270.0 110.0
 140.0 180.0 85.0 190.0 236.0 240.0 250.0 230.0 309.0 170.0 142.0 155.0
 210.0 'Otros' 122.0 200.0 90.0 150.0 141.0 173.0 137.0 280.0 112.0 189.0
 80.0 119.0 95.0 220.0 107.0 127.0 25.0 70.0 192.0 101.0 75.0 239.0 235.0
 87.0 66.0 77.0 195.0 183.0 233.0 121.0 224.0 412.0 0.0 423.0 300.0 261.0]


 ['2012-02-01' 'Otros' '2012-04-01' '2011-05-01' '2009-08-01' '2014-03-01'
 '2015-08-01' '2009-01-01' '2008-04-01' '2015-07-01' '2009-05-01'
 '2013-02-01' '2014-10-01' '1995-10-01' '2005-05-01' '2014-04-01'
 '2016-03-01' '2008-07-01' '2001-09-01' '2014-05-01' '2012-05-01'
 '2008-03-01' '2014-01-01' '2016-07-01' '2004-07-01' '2013-01-01'
 '2013-11-01' '2015-09-01' '2014-11-01' '2015-02-01' '2012-03-01'
 '2011-03-01' '2012-01-01' '2014-08-01' '2014-02-01' '2007-07-01'
 '2011-12-01' '2014-07-01' '2015-03-01' '2012-09-01' '2016-01-01'
 '2010-11-01' '2013-10-01' '2009-07-01' '2017-11-01' '2009-09-01'
 '2010-05-01' '2007-11-01' '2008-05-01' '2001-04-01' '2010-12-01'
 '2013-03-01' '2014-06-01' '2013-06-01' '2014-12-01' '2015-05-01'
 '2013-05-01' '2012-11-01' '2013-04-01' '2013-09-01' '2013-12-01'
 '2012-10-01' '2005-03-01' '2009-10-01' '2012-12-01' '2006-08-01'
 '2013-08-01' '2012-06-01' '2008-01-01' '2011-09-01' '2015-01-01'
 '2013-07-01' '2014-09-01' '2016-06-01' '2005-10-01' '2012-08-01'
 '2010-10-01' '2011-06-01' '2011-02-01' '2002-05-01' '2008-02-01'
 '2012-07-01' '2010-09-01' '2006-01-01' '2016-09-01' '2015-04-01'
 '2008-12-01' '2006-05-01' '2008-11-01' '2015-10-01' '2011-08-01'
 '2007-08-01' '2007-04-01' '2007-06-01' '2008-06-01' '2011-10-01'
 '2011-11-01' '2001-05-01' '2010-02-01' '2009-02-01' '2011-04-01'
 '2007-02-01' '2006-07-01' '2009-03-01' '2010-03-01' '2003-06-01'
 '2009-06-01' '2011-07-01' '2015-06-01' '2009-04-01' '2007-09-01'
 '2010-06-01' '2003-04-01' '2006-09-01' '2008-10-01' '2003-11-01'
 '2005-06-01' '2016-02-01' '2005-11-01' '2016-10-01' '2006-12-01'
 '2002-09-01' '2006-10-01' '2009-11-01' '2000-03-01' '2015-11-01'
 '2016-08-01' '2016-11-01' '2015-12-01' '2008-09-01' '2006-02-01'
 '2011-01-01' '2008-08-01' '2005-08-01' '2005-01-01' '2005-04-01'
 '2005-12-01' '2016-04-01' '2003-08-01' '2007-10-01' '2002-06-01'
 '1997-07-01' '2010-07-01' '1999-11-01' '2004-01-01' '2003-07-01'
 '2007-01-01' '1990-03-01' '2010-04-01' '2016-05-01' '2006-11-01'
 '1994-01-01' '2001-02-01' '2004-02-01' '2006-04-01' '2010-08-01'
 '2000-02-01' '2006-03-01' '2006-06-01' '2003-09-01' '1997-01-01'
 '1999-03-01' '2001-03-01' '2001-01-01' '2004-03-01' '1999-06-01'
 '2005-07-01' '2017-02-01' '2004-10-01' '2017-01-01' '2004-08-01'
 '2007-03-01' '2007-05-01' '2017-07-01' '2010-01-01' '2016-12-01'
 '2004-11-01' '2009-12-01' '2005-02-01' '2004-06-01' '2005-09-01']


 ['diesel' 'petrol' 'Otros' 'hybrid_petrol' 'Diesel' 'electro']


 ['black' 'grey' 'white' 'red' 'silver' 'blue' 'Otros' 'orange' 'beige'
 'brown' 'green']


 ['Otros' 'convertible' 'coupe' 'estate' 'hatchback' 'sedan' 'subcompact'
 'suv' 'van']


 [True False 'Otros']


 [True False 'Otros']


 [False True 'Otros']


 ['Otros' False True]


 [True False 'Otros']


 ['Otros' True False]


 [ True False]


 ['Otros' True False]


 [11300.0 69700.0 10200.0 25100.0 33400.0 17100.0 12400.0 6100.0 6200.0
 17300.0 19300.0 13300.0 21700.0 36300.0 10500.0 8300.0 21900.0 9200.0
 11000.0 7700.0 16800.0 31000.0 26300.0 23300.0 20800.0 1800.0 30100.0
 28700.0 6500.0 11100.0 9900.0 9500.0 27500.0 5500.0 6300.0 2400.0 6800.0
 24200.0 11800.0 34300.0 12100.0 15800.0 8000.0 9000.0 24300.0 2600.0
 21400.0 26200.0 8400.0 7500.0 23800.0 26500.0 27700.0 18300.0 2300.0
 30200.0 1000.0 19000.0 30500.0 28600.0 38900.0 32100.0 11900.0 47000.0
 55200.0 16100.0 19500.0 53600.0 28000.0 22400.0 32000.0 26400.0 8600.0
 31500.0 39900.0 8900.0 18400.0 16900.0 30000.0 8200.0 36900.0 23400.0
 23000.0 95200.0 23200.0 25300.0 27000.0 22500.0 3100.0 14600.0 26100.0
 8700.0 23500.0 26800.0 22000.0 21800.0 36500.0 17800.0 30700.0 45800.0
 'Otros' 27600.0 12900.0 24100.0 8500.0 17000.0 7600.0 9300.0 25000.0
 12500.0 16700.0 29200.0 35700.0 10700.0 12800.0 2700.0 15000.0 10900.0
 23100.0 5400.0 11700.0 16500.0 11400.0 13100.0 14500.0 12700.0 21300.0
 6000.0 7900.0 800.0 18200.0 14400.0 1100.0 12200.0 11500.0 18700.0
 18600.0 11200.0 9400.0 18900.0 23700.0 15400.0 13700.0 18000.0 13600.0
 13000.0 20200.0 12600.0 1200.0 15100.0 12000.0 14300.0 4300.0 10600.0
 14200.0 15600.0 10100.0 14900.0 5100.0 7300.0 10400.0 10000.0 16300.0
 8800.0 3900.0 3000.0 14800.0 15200.0 18100.0 6400.0 9600.0 4900.0 1400.0
 12300.0 13200.0 19200.0 20600.0 13800.0 20300.0 22100.0 16400.0 28800.0
 19900.0 19800.0 20000.0 25500.0 17700.0 25600.0 26700.0 10800.0 5000.0
 31300.0 13400.0 9700.0 17400.0 3800.0 15700.0 25200.0 15500.0 16200.0
 25800.0 20900.0 27400.0 23900.0 4500.0 9800.0 6600.0 18800.0 20500.0
 1500.0 13900.0 5800.0 24800.0 6900.0 11600.0 30600.0 33900.0 3600.0
 36000.0 500.0 7200.0 20700.0 22700.0 19600.0 22200.0 100.0 17600.0
 20100.0 22900.0 4000.0 4200.0 21500.0 14000.0 22600.0 15300.0 1300.0
 1900.0 5700.0 4400.0 14100.0 7400.0 3700.0 5600.0 7100.0 6700.0 8100.0
 21200.0 29600.0 7800.0 26900.0 37100.0 7000.0 3500.0 22800.0 24900.0
 3200.0 2100.0 28400.0 14700.0 15900.0 5300.0 2500.0 28200.0 17500.0
 4800.0 27300.0 29800.0 21100.0 4600.0 400.0 1600.0 28900.0 20400.0
 40900.0 3300.0 9100.0 900.0 24400.0 16600.0 25700.0 30800.0 29500.0
 2800.0 22300.0 24500.0 17200.0 25900.0 34500.0 10300.0 40500.0 24700.0
 30900.0 40000.0 23600.0 28100.0 30300.0 39300.0 33100.0 32800.0 24000.0
 200.0 700.0 19400.0 33300.0 37200.0 32700.0 24600.0 28300.0 40700.0
 36700.0 62500.0 44600.0 34000.0 43000.0 31900.0 27900.0 35300.0 58300.0
 19700.0 3400.0 27100.0 63700.0 18500.0 21600.0 38700.0 29400.0 75000.0
 51200.0 34600.0 34900.0 65400.0 52400.0 38000.0 32600.0 16000.0 4700.0
 39200.0 36200.0 19100.0 31400.0 47300.0 68300.0 17900.0 29300.0 5200.0
 27800.0 51500.0 68700.0 41100.0 41600.0 42700.0 35200.0 31100.0 600.0
 38100.0 43700.0 64300.0 42800.0 33200.0 33800.0 32500.0 41200.0 38800.0
 41900.0 36400.0 48200.0 43400.0 31800.0 37700.0 44000.0 37500.0 34800.0
 33000.0 52200.0 34200.0 43300.0 35100.0 49900.0 49700.0 13500.0 47400.0
 39000.0 57100.0 63100.0 42000.0 37800.0 55500.0 55300.0 42200.0 82400.0
 44300.0 35000.0 35900.0 41300.0 44100.0 46300.0 46500.0 59300.0 35600.0
 42400.0 33600.0 43800.0 44700.0 35500.0 48800.0 33500.0 36100.0 50000.0
 32200.0 35400.0 39400.0 38400.0 35800.0 37400.0 49100.0 42100.0 29100.0
 29000.0 46100.0 45300.0 46600.0 31700.0 39500.0 45500.0 55700.0 61200.0
 43600.0 46400.0 50600.0 142800.0 39100.0 29900.0 73100.0 60700.0 66600.0
 178500.0 5900.0 45100.0]


 ['2018-01-01' '2018-02-01' '2018-04-01' '2018-03-01' '2018-09-01'
 '2018-05-01' '2018-06-01' '2018-07-01' '2018-08-01' '2007-08-01'
 '2010-04-01' '2009-04-01' '2008-06-01' 'Otros']

In [55]:
for i in df_bmw.columns:
    print("\n", i, df_bmw[i].value_counts, "\n")

 marca <bound method IndexOpsMixin.value_counts of 0       Otros
1         BMW
2         BMW
3         BMW
4         BMW
        ...
4838      BMW
4839      BMW
4840      BMW
4841      BMW
4842      BMW
Name: marca, Length: 4843, dtype: object>


 modelo <bound method IndexOpsMixin.value_counts of 0                     118
1                      M4
2                     320
3                     420
4                     425
              ...
4838      218 Gran Tourer
4839    218 Active Tourer
4840      218 Gran Tourer
4841    218 Active Tourer
4842                  525
Name: modelo, Length: 4843, dtype: object>


 km <bound method IndexOpsMixin.value_counts of 0       140411.0
1        13929.0
2       183297.0
3       128035.0
4        97097.0
          ...
4838     39743.0
4839     49832.0
4840     19633.0
4841     27920.0
4842    195840.0
Name: km, Length: 4843, dtype: object>


 potencia <bound method IndexOpsMixin.value_counts of 0       100.0
1       317.0
2       120.0
3       135.0
4       160.0
        ...
4838    110.0
4839    100.0
4840    110.0
4841    110.0
4842    160.0
Name: potencia, Length: 4843, dtype: object>


 fecha_registro <bound method IndexOpsMixin.value_counts of 0       2012-02-01
1            Otros
2       2012-04-01
3            Otros
4            Otros
           ...
4838         Otros
4839    2015-06-01
4840    2015-10-01
4841    2016-04-01
4842         Otros
Name: fecha_registro, Length: 4843, dtype: object>


 tipo_gasolina <bound method IndexOpsMixin.value_counts of 0       diesel
1       petrol
2       diesel
3       diesel
4       diesel
         ...
4838    diesel
4839    diesel
4840    diesel
4841    diesel
4842    diesel
Name: tipo_gasolina, Length: 4843, dtype: object>


 color <bound method IndexOpsMixin.value_counts of 0        black
1         grey
2        white
3          red
4       silver
         ...
4838     black
4839      grey
4840      grey
4841     brown
4842      grey
Name: color, Length: 4843, dtype: object>


 tipo_coche <bound method IndexOpsMixin.value_counts of 0             Otros
1       convertible
2             Otros
3       convertible
4             Otros
           ...
4838          Otros
4839          Otros
4840            van
4841            van
4842          Otros
Name: tipo_coche, Length: 4843, dtype: object>


 volante_regulable <bound method IndexOpsMixin.value_counts of 0        True
1        True
2       False
3        True
4        True
        ...
4838    False
4839    False
4840    False
4841     True
4842     True
Name: volante_regulable, Length: 4843, dtype: object>


 aire_acondicionado <bound method IndexOpsMixin.value_counts of 0        True
1        True
2       False
3        True
4        True
        ...
4838     True
4839     True
4840     True
4841     True
4842    Otros
Name: aire_acondicionado, Length: 4843, dtype: object>


 camara_trasera <bound method IndexOpsMixin.value_counts of 0       False
1       False
2       False
3       False
4       False
        ...
4838    False
4839    False
4840    False
4841    False
4842    False
Name: camara_trasera, Length: 4843, dtype: object>


 asientos_traseros_plegables <bound method IndexOpsMixin.value_counts of 0       Otros
1       Otros
2       Otros
3       Otros
4       False
        ...
4838    Otros
4839    Otros
4840    Otros
4841    False
4842    Otros
Name: asientos_traseros_plegables, Length: 4843, dtype: object>


 elevalunas_electrico <bound method IndexOpsMixin.value_counts of 0        True
1       False
2        True
3        True
4       False
        ...
4838    False
4839    False
4840    False
4841    False
4842     True
Name: elevalunas_electrico, Length: 4843, dtype: object>


 bluetooth <bound method IndexOpsMixin.value_counts of 0       Otros
1        True
2       False
3        True
4        True
        ...
4838    False
4839    False
4840    False
4841    False
4842    False
Name: bluetooth, Length: 4843, dtype: object>


 gps <bound method IndexOpsMixin.value_counts of 0       True
1       True
2       True
3       True
4       True
        ...
4838    True
4839    True
4840    True
4841    True
4842    True
Name: gps, Length: 4843, dtype: bool>


 alerta_lim_velocidad <bound method IndexOpsMixin.value_counts of 0       Otros
1        True
2       False
3       Otros
4        True
        ...
4838    False
4839     True
4840     True
4841     True
4842     True
Name: alerta_lim_velocidad, Length: 4843, dtype: object>


 precio <bound method IndexOpsMixin.value_counts of 0       11300.0
1       69700.0
2       10200.0
3       25100.0
4       33400.0
         ...
4838    14600.0
4839    17500.0
4840    17000.0
4841    22700.0
4842    15500.0
Name: precio, Length: 4843, dtype: object>


 fecha_venta <bound method IndexOpsMixin.value_counts of 0       2018-01-01
1       2018-02-01
2       2018-02-01
3       2018-02-01
4       2018-04-01
           ...
4838    2018-08-01
4839    2018-08-01
4840    2018-09-01
4841    2018-09-01
4842    2018-09-01
Name: fecha_venta, Length: 4843, dtype: object>

In [56]:
#Ahora separamos las variables en Target, Categórica, Booleanas y Numéricas
df_bmw2 = df_bmw.copy()

In [57]:
df_bmw2["precio"].replace("Otros", np.nan, inplace=True)
df_bmw2["precio"] = df_bmw2["precio"].astype("float64")
df_bmw2["km"].replace("Otros", np.nan, inplace=True)
df_bmw2["km"] = df_bmw2["km"].astype("float64")
df_bmw2["potencia"].replace("Otros", np.nan, inplace=True)
df_bmw2["potencia"] = df_bmw2["potencia"].astype("float64")

In [58]:
df_bmw2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   marca                        4843 non-null   object
 1   modelo                       4843 non-null   object
 2   km                           4841 non-null   float64
 3   potencia                     4842 non-null   float64
 4   fecha_registro               4843 non-null   object
 5   tipo_gasolina                4843 non-null   object
 6   color                        4843 non-null   object
 7   tipo_coche                   4843 non-null   object
 8   volante_regulable            4843 non-null   object
 9   aire_acondicionado           4843 non-null   object
 10  camara_trasera               4843 non-null   object
 11  asientos_traseros_plegables  4843 non-null   object
 12  elevalunas_electrico         4843 non-null   object
 13  bluetooth                    4843 non-null   object
 14  gps                          4843 non-null   bool
 15  alerta_lim_velocidad         4843 non-null   object
 16  precio                       4837 non-null   float64
 17  fecha_venta                  4843 non-null   object
dtypes: bool(1), float64(3), object(14)
memory usage: 648.1+ KB

In [59]:
df_bmw["marca"].value_counts()

marca
BMW      3873
Otros     970
Name: count, dtype: int64

In [60]:
df_bmw2["bluetooth"] = df_bmw2["bluetooth"].astype("bool")
df_bmw2["volante_regulable"] = df_bmw2["volante_regulable"].astype("bool")
df_bmw2["aire_acondicionado"] = df_bmw2["aire_acondicionado"].astype("bool")
df_bmw2["camara_trasera"] = df_bmw2["camara_trasera"].astype("bool")
df_bmw2["asientos_traseros_plegables"] = df_bmw2["asientos_traseros_plegables"].astype("bool")
df_bmw2["elevalunas_electrico"] = df_bmw2["elevalunas_electrico"].astype("bool")
df_bmw2["alerta_lim_velocidad"] = df_bmw2["alerta_lim_velocidad"].astype("bool")

In [61]:
df_bmw2.head()

,marca,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
0,Otros,118,140411.0,100.0,2012-02-01,diesel,black,Otros,True,True,False,True,True,True,True,True,11300.0,2018-01-01
1,BMW,M4,13929.0,317.0,Otros,petrol,grey,convertible,True,True,False,True,False,True,True,True,69700.0,2018-02-01
2,BMW,320,183297.0,120.0,2012-04-01,diesel,white,Otros,False,False,False,True,True,False,True,False,10200.0,2018-02-01
3,BMW,420,128035.0,135.0,Otros,diesel,red,convertible,True,True,False,True,True,True,True,True,25100.0,2018-02-01
4,BMW,425,97097.0,160.0,Otros,diesel,silver,Otros,True,True,False,False,False,True,True,True,33400.0,2018-04-01

In [68]:

target= ["PRECIO"]
def obtener_lista_variables(dataset):
    lista_numericas=[]
    lista_boolean=[]
    lista_categoricas=[]
    for i in dataset:
        if    (dataset[i].dtype.kind=="f" or dataset[i].dtype.kind=="i") and len(dataset[i].unique())!= 2  and i not in target:
              lista_numericas.append(i)
        elif  (dataset[i].dtype.kind=="f" or dataset[i].dtype.kind=="i")  and len(dataset[i].unique())== 2  and i not in target:
              lista_boolean.append(i)
        elif  (dataset[i].dtype.kind=="O")  and i not in target:
              lista_categoricas.append(i)
                
    return lista_numericas, lista_boolean, lista_categoricas

In [69]:
lista_categoricas, lista_boolean, lista_numericas = obtener_lista_variables(df_bmw2)

In [71]:
df_bmw2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   marca                        4843 non-null   object
 1   modelo                       4843 non-null   object
 2   km                           4841 non-null   float64
 3   potencia                     4842 non-null   float64
 4   fecha_registro               4843 non-null   object
 5   tipo_gasolina                4843 non-null   object
 6   color                        4843 non-null   object
 7   tipo_coche                   4843 non-null   object
 8   volante_regulable            4843 non-null   bool
 9   aire_acondicionado           4843 non-null   bool
 10  camara_trasera               4843 non-null   bool
 11  asientos_traseros_plegables  4843 non-null   bool
 12  elevalunas_electrico         4843 non-null   bool
 13  bluetooth                    4843 non-null   bool
 14  gps                          4843 non-null   bool
 15  alerta_lim_velocidad         4843 non-null   bool
 16  precio                       4837 non-null   float64
 17  fecha_venta                  4843 non-null   object
dtypes: bool(8), float64(3), object(7)
memory usage: 416.3+ KB