In [1]:
#Primero importamos las librerías que vamos a usar
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder,MinMaxScaler, OrdinalEncoder

In [2]:
#Después importamos los datos del archivo CSV que tenemos
df_bmw = pd.read_csv("/Users/fernandopradagorge/Documents/Universidad/Master Data Science and AI/Nuclio Projects/Entregables/Entregable_1_15ENE24/bmw_pricing_v3.csv")

In [3]:
df_bmw.head()

,marca,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
0,NaN,118,140411.0,100.0,2012-02-01,diesel,black,NaN,True,True,False,NaN,True,NaN,True,NaN,11300.0,2018-01-01
1,BMW,M4,13929.0,317.0,NaN,petrol,grey,convertible,True,True,False,NaN,False,True,True,True,69700.0,2018-02-01
2,BMW,320,183297.0,120.0,2012-04-01,diesel,white,NaN,False,False,False,NaN,True,False,True,False,10200.0,2018-02-01
3,BMW,420,128035.0,135.0,NaN,diesel,red,convertible,True,True,False,NaN,True,True,True,NaN,25100.0,2018-02-01
4,BMW,425,97097.0,160.0,NaN,diesel,silver,NaN,True,True,False,False,False,True,True,True,33400.0,2018-04-01

In [4]:
#Una vez comprobado que el DataFrame carga bien, vamos a ver la estructura que tienen los datos.
df_bmw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   marca                        3873 non-null   object
 1   modelo                       4840 non-null   object
 2   km                           4841 non-null   float64
 3   potencia                     4842 non-null   float64
 4   fecha_registro               2420 non-null   object
 5   tipo_gasolina                4838 non-null   object
 6   color                        4398 non-null   object
 7   tipo_coche                   3383 non-null   object
 8   volante_regulable            4839 non-null   object
 9   aire_acondicionado           4357 non-null   object
 10  camara_trasera               4841 non-null   object
 11  asientos_traseros_plegables  1452 non-null   object
 12  elevalunas_electrico         4841 non-null   object
 13  bluetooth                    4115 non-null   object
 14  gps                          4843 non-null   bool
 15  alerta_lim_velocidad         4115 non-null   object
 16  precio                       4837 non-null   float64
 17  fecha_venta                  4842 non-null   object
dtypes: bool(1), float64(3), object(14)
memory usage: 648.1+ KB

In [5]:
df_bmw.describe()

                 km     potencia         precio
count  4.841000e+03  4842.000000    4837.000000
mean   1.409593e+05   128.981826   15831.920612
std    6.020853e+04    38.994839    9222.630708
min   -6.400000e+01     0.000000     100.000000
25%    1.028840e+05   100.000000   10800.000000
50%    1.410800e+05   120.000000   14200.000000
75%    1.752170e+05   135.000000   18600.000000
max    1.000376e+06   423.000000  178500.000000

In [6]:
#Vamos a buscar los nulos y a quitarlos de enmedio
df_bmw.isnull().sum()

marca                           970
modelo                            3
km                                2
potencia                          1
fecha_registro                 2423
tipo_gasolina                     5
color                           445
tipo_coche                     1460
volante_regulable                 4
aire_acondicionado              486
camara_trasera                    2
asientos_traseros_plegables    3391
elevalunas_electrico              2
bluetooth                       728
gps                               0
alerta_lim_velocidad            728
precio                            6
fecha_venta                       1
dtype: int64

In [7]:
#Y también eliminamos duplicados
df_bmw[df_bmw.duplicated(keep=False)]

Empty DataFrame
Columns: [marca, modelo, km, potencia, fecha_registro, tipo_gasolina, color, tipo_coche, volante_regulable, aire_acondicionado, camara_trasera, asientos_traseros_plegables, elevalunas_electrico, bluetooth, gps, alerta_lim_velocidad, precio, fecha_venta]
Index: []

In [8]:
df_bmw.drop_duplicates(inplace=True)

In [9]:
df_bmw[df_bmw["marca"].isnull()]

,marca,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta
0,NaN,118,140411.0,100.0,2012-02-01,diesel,black,NaN,True,True,False,NaN,True,NaN,True,NaN,11300.0,2018-01-01
8,NaN,Z4,123886.0,125.0,NaN,petrol,black,convertible,True,False,False,False,False,NaN,True,False,6200.0,2018-03-01
11,NaN,325,228000.0,145.0,NaN,diesel,black,NaN,True,True,False,False,True,False,True,NaN,13300.0,2018-03-01
18,NaN,325,205474.0,145.0,2009-05-01,diesel,NaN,NaN,True,True,False,NaN,True,NaN,True,NaN,11000.0,2018-04-01
21,NaN,218,24868.0,100.0,NaN,petrol,grey,convertible,False,True,False,NaN,False,NaN,True,True,31000.0,2018-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4804,NaN,220 Active Tourer,153358.0,140.0,2015-06-01,diesel,grey,van,False,NaN,False,NaN,False,False,True,True,11700.0,2018-02-01
4807,NaN,218 Active Tourer,197276.0,112.0,NaN,diesel,white,van,True,True,False,NaN,False,NaN,True,True,13100.0,2018-02-01
4825,NaN,225 Active Tourer,33300.0,170.0,NaN,petrol,NaN,van,True,True,False,NaN,False,False,False,True,19200.0,2018-05-01
4834,NaN,218 Gran Tourer,47782.0,110.0,NaN,diesel,blue,NaN,False,NaN,False,NaN,False,False,True,True,14900.0,2018-07-01
4836,NaN,218 Active Tourer,81230.0,100.0,2015-07-01,diesel,black,van,False,True,False,NaN,False,False,True,False,14200.0,2018-07-01

In [10]:
for i in df_bmw:
         df_bmw[i].isnull
         df_bmw[i].fillna("Otros", inplace=True)
#Con este bucle for eliminamos los elementos nulos de las columnas que vaya encontrando el programa.

/var/folders/fg/y114z21j2zn039z19n0n8cdh0000gn/T/ipykernel_3364/2251588063.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Otros' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_bmw[i].fillna("Otros", inplace=True)

In [ ]:
#Ahora tenemos que buscar las variables únicas para poder trabajar con ellas, para ello vamos a hacer un análisis univariable
for i in df_bmw.columns:
    print("\n", df_bmw[i].unique(), "\n")

In [ ]:
for i in df_bmw.columns:
    print("\n", i, df_bmw[i].value_counts, "\n")

In [13]:
#Ahora separamos las variables en Target, Categórica, Booleanas y Numéricas
df_bmw2 = df_bmw.copy()

In [22]:
df_bmw2["precio"].replace("Otros", np.nan, inplace=True)
df_bmw2["precio"] = df_bmw2["precio"].astype("float64")
df_bmw2["km"].replace("Otros", np.nan, inplace=True)
df_bmw2["km"] = df_bmw2["km"].astype("float64")
df_bmw2["potencia"].replace("Otros", np.nan, inplace=True)
df_bmw2["potencia"] = df_bmw2["potencia"].astype("float64")

In [32]:
df_bmw2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   marca                        4843 non-null   object
 1   modelo                       4843 non-null   object
 2   km                           4841 non-null   float64
 3   potencia                     4842 non-null   float64
 4   fecha_registro               4843 non-null   object
 5   tipo_gasolina                4843 non-null   object
 6   color                        4843 non-null   object
 7   tipo_coche                   4843 non-null   object
 8   volante_regulable            4843 non-null   bool
 9   aire_acondicionado           4843 non-null   bool
 10  camara_trasera               4843 non-null   bool
 11  asientos_traseros_plegables  4843 non-null   bool
 12  elevalunas_electrico         4843 non-null   object
 13  bluetooth                    4843 non-null   bool
 14  gps                          4843 non-null   bool
 15  alerta_lim_velocidad         4843 non-null   bool
 16  precio                       4837 non-null   float64
 17  fecha_venta                  4843 non-null   object
 18  elevalunas_eletrico          4843 non-null   bool
dtypes: bool(8), float64(3), object(8)
memory usage: 454.2+ KB

In [33]:
df_bmw["marca"].value_counts()

marca
BMW      3873
Otros     970
Name: count, dtype: int64

In [31]:
df_bmw2["bluetooth"] = df_bmw2["bluetooth"].astype("bool")
df_bmw2["volante_regulable"] = df_bmw2["volante_regulable"].astype("bool")
df_bmw2["aire_acondicionado"] = df_bmw2["aire_acondicionado"].astype("bool")
df_bmw2["camara_trasera"] = df_bmw2["camara_trasera"].astype("bool")
df_bmw2["asientos_traseros_plegables"] = df_bmw2["asientos_traseros_plegables"].astype("bool")
df_bmw2["elevalunas_eletrico"] = df_bmw2["elevalunas_electrico"].astype("bool")
df_bmw2["alerta_lim_velocidad"] = df_bmw2["alerta_lim_velocidad"].astype("bool")

In [34]:
df_bmw2.head()

,marca,modelo,km,potencia,fecha_registro,tipo_gasolina,color,tipo_coche,volante_regulable,aire_acondicionado,camara_trasera,asientos_traseros_plegables,elevalunas_electrico,bluetooth,gps,alerta_lim_velocidad,precio,fecha_venta,elevalunas_eletrico
0,Otros,118,140411.0,100.0,2012-02-01,diesel,black,Otros,True,True,False,True,True,True,True,True,11300.0,2018-01-01,True
1,BMW,M4,13929.0,317.0,Otros,petrol,grey,convertible,True,True,False,True,False,True,True,True,69700.0,2018-02-01,False
2,BMW,320,183297.0,120.0,2012-04-01,diesel,white,Otros,False,False,False,True,True,False,True,False,10200.0,2018-02-01,True
3,BMW,420,128035.0,135.0,Otros,diesel,red,convertible,True,True,False,True,True,True,True,True,25100.0,2018-02-01,True
4,BMW,425,97097.0,160.0,Otros,diesel,silver,Otros,True,True,False,False,False,True,True,True,33400.0,2018-04-01,False

In [45]:
target = ["precio"]
def lista_variables(dataset):
    lista_categorica=[]
    lista_booleana=[]
    lista_numerica=[]
    for i in dataset:
        if (dataset[i].dtype.kind=="f" or dataset[i].dtype.kind=="i") and len(dataset[i].unique()) != 2 and i not in target:
            lista_numerica.append(i)
        elif (dataset[i].dtype.kind=="f" or dataset[i].dtype.kind=="i") and len(dataset[i].unique()) == 2 and i not in target:
            lista_booleana.append(i)
        elif (dataset[i].dtype.kind=="O") and i not in target:
            lista_categorica.append(i)

    return lista_categorica, lista_booleana, lista_numerica

In [47]:
lista_categorica, lista_booleana, lista_numerica = lista_variables(df_bmw2)

In [49]:
lista_numerica

['km', 'potencia']